In [30]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import json
import pprint
import gmaps

gmaps.configure(api_key=gkey)

# Import API key
from api_keys import gkey

In [31]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../WeatherPy/output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,lebu,-37.6167,-73.6500,12.89,87,66,1.97,CL,1667516971
1,1,punta arenas,-53.1500,-70.9167,16.06,63,40,10.80,CL,1667516888
2,2,moron,-34.6534,-58.6198,19.98,58,0,5.27,AR,1667516972
3,3,san patricio,28.0170,-97.5169,27.92,74,31,7.08,US,1667516972
4,4,aklavik,68.2191,-135.0107,-12.00,79,100,3.60,CA,1667516972

In [32]:
# Finding null data
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     563 non-null    int64
 1   City        563 non-null    object
 2   Lat         563 non-null    float64
 3   Lng         563 non-null    float64
 4   Max Temp    563 non-null    float64
 5   Humidity    563 non-null    int64
 6   Cloudiness  563 non-null    int64
 7   Wind Speed  563 non-null    float64
 8   Country     559 non-null    object
 9   Date        563 non-null    int64
dtypes: float64(4), int64(4), object(2)
memory usage: 44.1+ KB

In [33]:
# Store latitude and longitude in locations
locations = city_data_df[["Lat", "Lng"]]

#df['points'] = df['points'].astype(float)

# Fill NaN values and convert to float
city_data_df["Humidity"] = city_data_df['Humidity'].astype(float)

In [34]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     563 non-null    int64
 1   City        563 non-null    object
 2   Lat         563 non-null    float64
 3   Lng         563 non-null    float64
 4   Max Temp    563 non-null    float64
 5   Humidity    563 non-null    float64
 6   Cloudiness  563 non-null    int64
 7   Wind Speed  563 non-null    float64
 8   Country     559 non-null    object
 9   Date        563 non-null    int64
dtypes: float64(5), int64(3), object(2)
memory usage: 44.1+ KB

In [35]:
humid = city_data_df['Humidity']
humid

0       87.0
1       63.0
2       58.0
3       74.0
4       79.0
       ...
558    100.0
559     87.0
560     20.0
561     82.0
562     86.0
Name: Humidity, Length: 563, dtype: float64

In [49]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid,dissipating=False, max_intensity=max(city_data_df["Humidity"]),point_radius = 2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# Narrow down cities that fit criteria and drop any results with null values
ideal_weather = city_data_df.loc[(city_data_df["Max Temp"]>=21)&(city_data_df["Max Temp"]<=27)&(city_data_df["Cloudiness"]<=0)&(city_data_df["Wind Speed"]<=4.5),:]

# Drop any rows with null values
ideal_weather = ideal_weather.dropna()

# Display sample data
ideal_weather

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
20,20,sur,22.5667,59.5289,25.14,49.0,0,4.50,OM,1667516979
78,78,araouane,18.9048,-3.5265,24.22,14.0,0,4.07,ML,1667517001
104,104,cayenne,4.9333,-52.3333,25.02,94.0,0,0.00,GF,1667516232
177,177,keti bandar,24.1447,67.4497,26.19,70.0,0,4.47,PK,1667517053
195,195,coihaique,-45.5752,-72.0662,25.97,36.0,0,3.09,CL,1667517001
452,452,akyab,20.1500,92.9000,24.14,84.0,0,3.85,MM,1667517194
453,453,saint-pierre,-21.3393,55.4781,24.76,68.0,0,3.09,RE,1667517195
535,535,santarem,-2.4431,-54.7083,25.07,88.0,0,1.03,BR,1667517239

In [78]:
#df2 = df[['Courses', 'Fee']].copy()

# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = ideal_weather[["City","Country","Lat","Lng","Humidity"]].copy()


# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
hotel_df['Hotel Name'] = ""


# Display sample data
hotel_df

             City Country      Lat      Lng  Humidity Hotel Name
20            sur      OM  22.5667  59.5289      49.0
78       araouane      ML  18.9048  -3.5265      14.0
104       cayenne      GF   4.9333 -52.3333      94.0
177   keti bandar      PK  24.1447  67.4497      70.0
195     coihaique      CL -45.5752 -72.0662      36.0
452         akyab      MM  20.1500  92.9000      84.0
453  saint-pierre      RE -21.3393  55.4781      68.0
535      santarem      BR  -2.4431 -54.7083      88.0

In [86]:
# Set params:
params = {
    "radius": 10000,
    "types": "hotel",
    "keyword": "hotels",
    "key": gkey
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Loop through to identify hotels:
for index, row in hotel_df.iterrows():
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params['location'] = f'{lat},{lng}'
    
    hotel_data = requests.get(base_url, params=params).json()
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data['results'][0]['name']
        
    except: 
        print('Issues with finding a hotel at', row['City'])
        hotel_df.loc[index, "Hotel Name"] = "NA"
    
hotel_df

Starting hotel search
Issues with finding a hotel at araouane
Issues with finding a hotel at keti bandar

,City,Country,Lat,Lng,Humidity,Hotel Name
20,sur,OM,22.5667,59.5289,49.0,Sur Plaza Hotel
78,araouane,ML,18.9048,-3.5265,14.0,NA
104,cayenne,GF,4.9333,-52.3333,94.0,Hotel L'ebene Verte
177,keti bandar,PK,24.1447,67.4497,70.0,NA
195,coihaique,CL,-45.5752,-72.0662,36.0,Entre Cumbres Apart Hotel
452,akyab,MM,20.1500,92.9000,84.0,Shwe Myint Mho Guest House
453,saint-pierre,RE,-21.3393,55.4781,68.0,Palm Hotel & Spa
535,santarem,BR,-2.4431,-54.7083,88.0,Hotel Palace Santarém

In [87]:
info_box_template = """



Name {Hotel Name}
City {City}
Country {Country}



"""



hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_loc = hotel_df[["Lat", "Lng"]]

In [88]:
hotel_plots = gmaps.marker_layer(hotel_loc,info_box_content= hotel_info)



fig = gmaps.figure()
fig.add_layer(hotel_plots)



fig

Figure(layout=FigureLayout(height='420px'))